// Card Group Section
.card-section {
  padding: 2em 3em 2em 3em;
  margin-bottom: 4em;

  img {
    width: 100%;
  }

  h2 {
    font-weight: bold;
    font-size: 2.5em;
    color: $first-color;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.7em;
    font-weight: 100;
    color: $dark-color;
    margin-bottom: 1em;
  }

  button {
    background-color: $dark-color;
    color: $light-color;
    font-weight: bold;
    padding: 0.5em 2em 0.5em 2em;
  }

  .card-section-info {
    padding: 6em 0em 0em 6em;
  }
}
