// Header

// Logo
.header-navbar {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;

  .brand-logo {
    width: 170px;
  }

  .nav-button {
    background-color: $first-color;
  }

  .nav-link {
    font-weight: bold;
    color: $dark-color;
  }
}
