// Image Fluid
.image-fluid {
  background-image: url('../../assets/img/front-image-personal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16em 5em 17em 10em;

  h1 {
    color: $light-color;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.2em;
  }

  p {
    color: $light-color;
    font-size: 1.3em;
    margin-bottom: 2em;
  }

  button {
    margin-right: 0.5em;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: bold;
    color: $first-color;
  }

  .btn-outline-light {
    padding: 0.5em 2.5em 0.5em 2.5em;
    color: $light-color;

    &:hover {
      color: $first-color;
    }
  }
}
