// ImageContainer
.image-container {
  background-image: url('../../assets/img/front-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em 5em 10em 5em;
  margin-bottom: 4em;

  h1 {
    color: $light-color;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0.2em;
  }

  p {
    color: $light-color;
    font-size: 1.3em;
    margin-bottom: 2em;
  }

  .btn {
    margin-right: 0.5em;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: bold;
    color: $first-color;
  }

  .btn-outline-light {
    padding: 0.5em 2.5em 0.5em 2.5em;
    color: $light-color;

    &:hover {
      color: $first-color;
    }
  }

  .tweet {
    width: 90%;
  }
}
